In [6]:
import pandas as pd

tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [7]:
len(tbl0)

40

In [10]:
tbl0.shape[1]

4

In [11]:
tbl0.dtypes

_c0     int64
_c1    object
_c2     int64
_c3    object
dtype: object

In [96]:
import numpy as np
import matplotlib.pyplot as plt 

mean_c2 = tbl0.groupby("_c1").mean()

mean_c2

           _c0       _c2
_c1
A    15.250000  4.625000
B    19.285714  5.142857
C    18.200000  5.400000
D    22.000000  3.833333
E    21.428571  4.785714